* {
  box-sizing: border-box; }

body {
  background-color: #f5f1f0;
  overflow-x: hidden; }

.intro {
  position: fixed;
  width: 22%;
  height: 100%;
  background-color: #1b262c; }
  .intro header .title {
    margin: 30px auto 10px;
    height: 50px;
    width: 100%;
    position: relative;
    border: 2px solid #63a2c2; }
    .intro header .title .front,
    .intro header .title .back {
      position: absolute;
      text-align: center;
      left: 50%;
      margin-left: -100px;
      top: 50%;
      margin-top: -14.5px;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: all 1s ease-in-out; }
      .intro header .title .front h2,
      .intro header .title .back h2 {
        font-size: 20px; }
    .intro header .title .front {
      color: #f5f1f0; }
    .intro header .title .back {
      color: #63a2c2;
      transform: rotatey(180deg); }
    .intro header .title:hover .front {
      transform: rotatey(180deg); }
    .intro header .title:hover .back {
      transform: rotatey(360deg); }
  .intro header .control {
    display: none;
    cursor: pointer;
    width: 47px;
    height: 45px; }
    .intro header .control svg {
      fill: #63a2c2; }
  .intro .details {
    margin: 0;
    padding: 0; }
    .intro .details .about {
      transition: all 1s ease-in-out;
      cursor: pointer; }
      .intro .details .about h2 {
        color: #63a2c2;
        margin-left: 23px; }
      .intro .details .about p {
        height: 500px;
        color: #f5f1f0;
        margin: 0;
        padding: 0 23px;
        font-size: 14.5px;
        overflow: hidden;
        transition: all 1s ease-in-out; }
        .intro .details .about p + .fa-caret-right {
          transform: rotate(-90deg);
          color: #63a2c2;
          margin-left: 100px;
          font-size: 35px; }
      .intro .details .about .hidden_paragraph {
        margin: 0;
        height: 65px;
        transition: all 1s ease-in-out; }
        .intro .details .about .hidden_paragraph + .fa-caret-right {
          transform: rotate(90deg);
          color: #63a2c2;
          margin-left: 100px;
          font-size: 35px; }
      .intro .details .about .media {
        padding: 0px;
        list-style: none;
        display: flex;
        width: 200px;
        margin-left: 24px;
        justify-content: start;
        border-bottom: 1px solid #63a2c2; }
        .intro .details .about .media li {
          margin: 2px; }
        .intro .details .about .media .linkedin {
          background-color: black;
          padding: 6px 8px;
          border-radius: 50%; }
          .intro .details .about .media .linkedin i {
            color: #f5f1f0;
            font-size: 25px; }
        .intro .details .about .media .github i {
          color: black;
          box-shadow: black inset -1px 1px 0px 2px;
          background-color: #f5f1f0;
          font-size: 39px;
          border-radius: 50%; }
        .intro .details .about .media .codepen {
          background-color: black;
          padding: 6px;
          border-radius: 50%; }
          .intro .details .about .media .codepen i {
            font-size: 26px;
            color: #f5f1f0; }
        .intro .details .about .media .upwork {
          width: 39px; }
          .intro .details .about .media .upwork svg {
            border-radius: 50%; }
    .intro .details h2 {
      color: #63a2c2;
      margin-left: 23px; }
    .intro .details .ul_skills_lists {
      color: #f5f1f0; }
      .intro .details .ul_skills_lists h2 {
        color: #63a2c2;
        margin-left: -15px; }
      .intro .details .ul_skills_lists .skill .skill_header {
        cursor: pointer;
        transform: translateX(-15px); }
        .intro .details .ul_skills_lists .skill .skill_header i {
          color: #63a2c2; }
        .intro .details .ul_skills_lists .skill .skill_header h5 {
          margin-left: 15px;
          display: inline-block; }
      .intro .details .ul_skills_lists .skill ul {
        transition: .5s ease-in-out;
        list-style: none;
        height: 0;
        overflow: hidden; }
      .intro .details .ul_skills_lists .skill_active:first-of-type ul {
        transition: .5s ease-in-out;
        display: block;
        height: 30px; }
      .intro .details .ul_skills_lists .skill_active .skill_header i {
        transform: rotate(90deg); }
      .intro .details .ul_skills_lists .skill_active .skill_header h5 {
        display: inline-block; }
      .intro .details .ul_skills_lists .skill_active ul {
        display: block;
        height: 80px;
        width: 250px; }
      .intro .details .ul_skills_lists .rate {
        list-style: none;
        padding: 0; }
        .intro .details .ul_skills_lists .rate .empty {
          height: 15px;
          width: 15px;
          display: inline-block;
          border: 1px solid #63a2c2; }
        .intro .details .ul_skills_lists .rate .fill {
          height: 15px;
          width: 15px;
          display: inline-block;
          border: 1px solid #63a2c2;
          background-color: #63a2c2;
          box-shadow: -1px -1px 2px 0px #1b262c inset; }
  .intro .active_details {
    display: block;
    transition: .5s ease-in-out; }

.portfolio {
  width: 78%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  padding: 32px 63px;
  justify-content: space-between;
  background-color: #f5f1f0; }
  .portfolio h2 {
    margin-left: 10px;
    width: 170px;
    font-weight: bold;
    color: #1b262c;
    border-bottom: 3px solid #1b262c; }
  .portfolio .projects .project {
    cursor: pointer;
    height: 300px;
    width: calc(99%/3);
    border: 1px solid #63a2c2;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    background-color: #63a2c2;
    box-shadow: 6px 7px 16px -9px black;
    color: #f5f1f0;
    text-decoration: none;
    font-size: 33px; }
    .portfolio .projects .project a {
      color: #f5f1f0;
      text-decoration: none; }
    .portfolio .projects .project:hover img {
      opacity: 0.6; }
    .portfolio .projects .project .project-header {
      overflow: hidden;
      height: 78%;
      width: 100%; }
      .portfolio .projects .project .project-header img {
        height: 100%;
        width: 100%;
        transition: all 1s ease-in-out; }
    .portfolio .projects .project .project-name {
      transition: 0.5s ease-in-out;
      text-align: center;
      background-color: #1b262c;
      height: 22%;
      border-top: 1px solid #63a2c2; }
      .portfolio .projects .project .project-name h3 {
        transition: none;
        height: 100%; }

@media (max-width: 1200px) and (min-width: 993px) {
  .intro {
    overflow: hidden;
    width: 25%; }
    .intro .title {
      cursor: pointer;
      margin: 50px auto 20px;
      height: 50px;
      width: 100%;
      position: relative;
      border: 2px solid #63a2c2; }
      .intro .title .front,
      .intro .title .back {
        position: absolute;
        text-align: center;
        left: 50%;
        margin-left: -92px;
        top: 50%;
        margin-top: -14.5px;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out; }
        .intro .title .front h2,
        .intro .title .back h2 {
          font-size: 20px; }
      .intro .title .front {
        color: #f5f1f0; }
      .intro .title .back {
        color: #63a2c2;
        transform: rotatey(180deg); }
      .intro .title:hover .front {
        transform: rotatey(180deg); }
      .intro .title:hover .back {
        transform: rotatey(360deg); }
    .intro .details .media {
      margin: 0px;
      padding: 0px;
      list-style: none;
      justify-content: center; }
      .intro .details .media li {
        margin: 5px; }
        .intro .details .media li a {
          height: 100%;
          width: 100%;
          border-radius: 50%; }
    .intro .details .ul_skills_lists {
      color: #f5f1f0;
      list-style: none; }
      .intro .details .ul_skills_lists h2 {
        color: #63a2c2;
        margin-left: -15px; }
      .intro .details .ul_skills_lists .skill {
        transform: translateX(-15px); }
        .intro .details .ul_skills_lists .skill h5 {
          margin-left: 15px;
          transition: all 0.2s ease-in-out; }
      .intro .details .ul_skills_lists .rate {
        list-style: none;
        padding: 0; }
        .intro .details .ul_skills_lists .rate .empty {
          height: 15px;
          width: 15px;
          display: inline-block;
          border: 1px solid #63a2c2; }
        .intro .details .ul_skills_lists .rate .fill {
          height: 15px;
          width: 15px;
          display: inline-block;
          border: 1px solid #63a2c2;
          background-color: #63a2c2;
          box-shadow: -1px -1px 2px 0px #1b262c inset; }

  .portfolio {
    width: 75%;
    float: right;
    padding: 19px 63px;
    background-color: #f5f1f0; }
    .portfolio h2 {
      margin-left: 10px;
      width: 170px;
      font-weight: bold;
      color: #1b262c;
      border-bottom: 3px solid #1b262c; }
    .portfolio .projects .project,
    .portfolio .projects .pen {
      height: 300px;
      width: 47%;
      margin: 1%;
      border: 1px solid #63a2c2;
      border-radius: 10px;
      overflow: hidden;
      display: inline-block;
      background-color: #63a2c2;
      box-shadow: 6px 7px 16px -9px black; }
      .portfolio .projects .project a,
      .portfolio .projects .pen a {
        color: #f5f1f0;
        text-decoration: none;
        font-size: 33px; }
        .portfolio .projects .project a:hover img,
        .portfolio .projects .pen a:hover img {
          opacity: 0.6;
          transform: scale(1.1); }
        .portfolio .projects .project a .project-header,
        .portfolio .projects .pen a .project-header {
          overflow: hidden;
          height: 80%;
          width: 100%; }
          .portfolio .projects .project a .project-header img,
          .portfolio .projects .pen a .project-header img {
            height: 100%;
            width: 100%;
            transition: all 1s ease-in-out; }
        .portfolio .projects .project a .project-name,
        .portfolio .projects .pen a .project-name {
          transition: 0.5s ease-in-out;
          text-align: center;
          background-color: #1b262c;
          height: 20%;
          border-top: 1px solid #63a2c2; }
          .portfolio .projects .project a .project-name h3,
          .portfolio .projects .pen a .project-name h3 {
            transition: none; } }
@media (max-width: 992px) and (min-width: 769px) {
  body {
    display: block; }

  .intro {
    width: 100%;
    padding: 0 65px;
    height: 70px;
    z-index: 999; }
    .intro header {
      display: flex; }
      .intro header .title {
        margin: 11px 6px;
        width: 70%; }
        .intro header .title .front,
        .intro header .title .back {
          position: absolute;
          text-align: center;
          left: 50%;
          margin-left: -92px;
          top: 50%;
          margin-top: -14.5px;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          transition: all 1s ease-in-out; }
          .intro header .title .front h2,
          .intro header .title .back h2 {
            font-size: 20px; }
        .intro header .title .front {
          color: #f5f1f0; }
        .intro header .title .back {
          color: #63a2c2;
          transform: rotatey(180deg); }
        .intro header .title:hover .front {
          transform: rotatey(180deg); }
        .intro header .title:hover .back {
          transform: rotatey(360deg); }
      .intro header .control {
        position: absolute;
        display: block;
        right: 80px;
        top: 13px; }
    .intro .details {
      position: absolute;
      left: -300px;
      width: 150px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out; }
      .intro .details .media {
        transform: translateX(-35px); }
        .intro .details .media li {
          margin: 5px; }
          .intro .details .media li a {
            height: 100%;
            width: 100%;
            border-radius: 50%; }
            .intro .details .media li a svg {
              width: 40px; }
      .intro .details .ul_skills_lists {
        color: #f5f1f0;
        list-style: none; }
        .intro .details .ul_skills_lists h2 {
          color: #63a2c2;
          margin-left: -15px; }
        .intro .details .ul_skills_lists .skill {
          transform: translateX(-15px);
          width: 116px; }
          .intro .details .ul_skills_lists .skill h5 {
            margin-left: 15px;
            transition: all 0.2s ease-in-out; }
        .intro .details .ul_skills_lists .rate {
          list-style: none;
          padding: 0; }
          .intro .details .ul_skills_lists .rate .empty {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid #63a2c2; }
          .intro .details .ul_skills_lists .rate .fill {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid #63a2c2;
            background-color: #63a2c2;
            box-shadow: -1px -1px 2px 0px #1b262c inset; }
    .intro .active_details {
      display: inline-block;
      background-color: #1b262c;
      width: 300px;
      position: absolute;
      left: 0px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out; }

  .portfolio {
    width: 100%;
    float: right;
    padding: 19px 63px;
    background-color: #f5f1f0; }
    .portfolio h2 {
      margin-left: 10px;
      width: 170px;
      font-weight: bold;
      color: #1b262c;
      border-bottom: 3px solid #1b262c; }
    .portfolio .projects .project {
      transition: 0.5s ease-in-out;
      height: 300px;
      width: 47%;
      margin: 1%;
      border: 1px solid #63a2c2;
      border-radius: 10px;
      overflow: hidden;
      display: inline-block;
      background-color: #63a2c2;
      box-shadow: 6px 7px 16px -9px black; }
      .portfolio .projects .project a {
        color: #f5f1f0;
        text-decoration: none;
        font-size: 33px; }
        .portfolio .projects .project a:hover img {
          opacity: 0.6;
          transform: scale(1.1); }
        .portfolio .projects .project a .project-header {
          overflow: hidden;
          height: 80%;
          width: 100%; }
          .portfolio .projects .project a .project-header img {
            height: 100%;
            width: 100%;
            transition: all 1s ease-in-out; }
        .portfolio .projects .project a .project-name {
          transition: 0.5s ease-in-out;
          text-align: center;
          background-color: #1b262c;
          height: 20%;
          border-top: 1px solid #63a2c2; }
          .portfolio .projects .project a .project-name h3 {
            transition: none; }
    .portfolio .projects .click_control {
      height: 325px;
      width: 50%;
      margin: 7px 0 0 43%; } }
@media (max-width: 768px) and (min-width: 701px) {
  body {
    display: block; }

  .intro {
    width: 100%;
    padding: 0 65px;
    height: 70px;
    z-index: 999; }
    .intro header {
      display: flex; }
      .intro header .title {
        margin: 11px 6px;
        width: 70%; }
        .intro header .title .front,
        .intro header .title .back {
          position: absolute;
          text-align: center;
          left: 50%;
          margin-left: -92px;
          top: 50%;
          margin-top: -14.5px;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          transition: all 1s ease-in-out; }
          .intro header .title .front h2,
          .intro header .title .back h2 {
            font-size: 20px; }
        .intro header .title .front {
          color: #f5f1f0; }
        .intro header .title .back {
          color: #63a2c2;
          transform: rotatey(180deg); }
        .intro header .title:hover .front {
          transform: rotatey(180deg); }
        .intro header .title:hover .back {
          transform: rotatey(360deg); }
      .intro header .control {
        position: absolute;
        display: block;
        right: 80px;
        top: 13px; }
    .intro .details {
      position: absolute;
      left: -300px;
      width: 150px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out; }
      .intro .details .media {
        transform: translateX(-35px); }
        .intro .details .media li {
          margin: 5px; }
          .intro .details .media li a {
            height: 100%;
            width: 100%;
            border-radius: 50%; }
            .intro .details .media li a svg {
              width: 40px; }
      .intro .details .ul_skills_lists {
        color: #f5f1f0;
        list-style: none; }
        .intro .details .ul_skills_lists h2 {
          color: #63a2c2;
          margin-left: -15px; }
        .intro .details .ul_skills_lists .skill {
          transform: translateX(-15px);
          width: 116px; }
          .intro .details .ul_skills_lists .skill h5 {
            margin-left: 15px;
            transition: all 0.2s ease-in-out; }
        .intro .details .ul_skills_lists .rate {
          list-style: none;
          padding: 0; }
          .intro .details .ul_skills_lists .rate .empty {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid #63a2c2; }
          .intro .details .ul_skills_lists .rate .fill {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid #63a2c2;
            background-color: #63a2c2;
            box-shadow: -1px -1px 2px 0px #1b262c inset; }
    .intro .active_details {
      display: inline-block;
      background-color: #1b262c;
      width: 300px;
      position: absolute;
      left: 0px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out; }

  .portfolio {
    width: 100%;
    float: right;
    padding: 19px 63px;
    background-color: #f5f1f0; }
    .portfolio h2 {
      margin-left: 10px;
      width: 170px;
      font-weight: bold;
      color: #1b262c;
      border-bottom: 3px solid #1b262c; }
    .portfolio .projects .project {
      transition: 0.5s ease-in-out;
      height: 300px;
      width: 47%;
      margin: 1%;
      border: 1px solid #63a2c2;
      border-radius: 10px;
      overflow: hidden;
      display: inline-block;
      background-color: #63a2c2;
      box-shadow: 6px 7px 16px -9px black; }
      .portfolio .projects .project a {
        color: #f5f1f0;
        text-decoration: none;
        font-size: 33px; }
        .portfolio .projects .project a:hover img {
          opacity: 0.6;
          transform: scale(1.1); }
        .portfolio .projects .project a .project-header {
          overflow: hidden;
          height: 80%;
          width: 100%; }
          .portfolio .projects .project a .project-header img {
            height: 100%;
            width: 100%;
            transition: all 1s ease-in-out; }
        .portfolio .projects .project a .project-name {
          transition: 0.5s ease-in-out;
          text-align: center;
          background-color: #1b262c;
          height: 20%;
          border-top: 1px solid #63a2c2; }
          .portfolio .projects .project a .project-name h3 {
            transition: none; }
    .portfolio .projects .click_control {
      height: 330px;
      width: 57%;
      margin: 7px 0 0 47.5%; } }
@media (max-width: 700px) {
  .intro {
    width: 100%;
    padding: 0 65px;
    height: 70px;
    z-index: 999; }
    .intro header {
      display: flex; }
      .intro header .title {
        margin: 11px 6px;
        width: 70%; }
        .intro header .title .front,
        .intro header .title .back {
          position: absolute;
          text-align: center;
          left: 50%;
          margin-left: -92px;
          top: 50%;
          margin-top: -14.5px;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          transition: all 1s ease-in-out; }
          .intro header .title .front h2,
          .intro header .title .back h2 {
            font-size: 20px; }
        .intro header .title .front {
          color: #f5f1f0; }
        .intro header .title .back {
          color: #63a2c2;
          transform: rotatey(180deg); }
        .intro header .title:hover .front {
          transform: rotatey(180deg); }
        .intro header .title:hover .back {
          transform: rotatey(360deg); }
      .intro header .control {
        position: absolute;
        display: block;
        right: 80px;
        top: 13px; }
    .intro .details {
      position: absolute;
      left: -300px;
      width: 150px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out; }
      .intro .details .media li {
        margin: 5px;
        width: 37px;
        height: 37px; }
        .intro .details .media li a {
          height: 100%;
          width: 100%;
          border-radius: 50%; }
          .intro .details .media li a i {
            font-size: 20px; }
          .intro .details .media li a svg {
            width: 37px; }
      .intro .details .ul_skills_lists {
        color: #f5f1f0;
        list-style: none; }
        .intro .details .ul_skills_lists h2 {
          color: #63a2c2;
          margin-left: -15px;
          font-size: 25px; }
        .intro .details .ul_skills_lists .skill {
          transform: translateX(-15px);
          width: 116px; }
          .intro .details .ul_skills_lists .skill h5 {
            margin-left: 15px;
            transition: all 0.2s ease-in-out; }
        .intro .details .ul_skills_lists .rate {
          list-style: none;
          padding: 0; }
          .intro .details .ul_skills_lists .rate .empty {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid #63a2c2; }
          .intro .details .ul_skills_lists .rate .fill {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid #63a2c2;
            background-color: #63a2c2;
            box-shadow: -1px -1px 2px 0px #1b262c inset; }
    .intro .active_details {
      display: inline-block;
      background-color: #1b262c;
      width: 200px;
      position: absolute;
      left: 0px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out; }

  .portfolio {
    width: 100%;
    float: right;
    padding: 19px 63px;
    background-color: #f5f1f0; }
    .portfolio h2 {
      margin-left: 10px;
      width: 170px;
      font-weight: bold;
      color: #1b262c;
      border-bottom: 3px solid #1b262c; }
    .portfolio .projects .project {
      transition: 0.5s ease-in-out;
      height: 325px;
      width: 90%;
      margin: 5% 0 0px 4%; }
      .portfolio .projects .project a {
        color: #f5f1f0;
        text-decoration: none;
        font-size: 33px; }
        .portfolio .projects .project a:hover img {
          opacity: 0.6;
          transform: scale(1.1); }
        .portfolio .projects .project a .project-header {
          overflow: hidden;
          height: 80%;
          width: 100%; }
          .portfolio .projects .project a .project-header img {
            height: 100%;
            width: 100%;
            transition: all 1s ease-in-out; }
        .portfolio .projects .project a .project-name {
          transition: 0.5s ease-in-out;
          text-align: center;
          background-color: #1b262c;
          height: 20%;
          border-top: 1px solid #63a2c2; }
          .portfolio .projects .project a .project-name h3 {
            transition: none;
            font-size: 74%; }
    .portfolio .projects .click_control {
      height: 330px;
      width: 57%;
      margin: 7px 0 0 43%; } }
@media (max-width: 600px) {
  .portfolio {
    width: 100%;
    float: right;
    padding: 19px 63px;
    background-color: #f5f1f0; }
    .portfolio h2 {
      margin-left: 10px;
      width: 170px;
      font-weight: bold;
      color: #1b262c;
      border-bottom: 3px solid #1b262c; }
    .portfolio .projects .project {
      transition: 0.5s ease-in-out;
      height: 325px;
      width: 90%;
      margin: 5% 0 0px 4%; }
      .portfolio .projects .project a {
        color: #f5f1f0;
        text-decoration: none;
        font-size: 33px; }
        .portfolio .projects .project a:hover img {
          opacity: 0.6;
          transform: scale(1.1); }
        .portfolio .projects .project a .project-header {
          overflow: hidden;
          height: 80%;
          width: 100%; }
          .portfolio .projects .project a .project-header img {
            height: 100%;
            width: 100%;
            transition: all 1s ease-in-out; }
        .portfolio .projects .project a .project-name {
          transition: 0.5s ease-in-out;
          text-align: center;
          background-color: #1b262c;
          height: 20%;
          border-top: 1px solid #63a2c2; }
          .portfolio .projects .project a .project-name h3 {
            transition: none;
            font-size: 74%; }
    .portfolio .projects .click_control {
      height: 330px;
      width: 65%;
      margin: 7px 0 0 43%; } }
.scale1-1, .portfolio .projects .project:hover img {
  transform: scale(1.1); }

.transition-0-5s {
  transition: 0.5s ease-in-out; }

/*# sourceMappingURL=style.css.map */
