$Blue: #63a2c2;
$DarkBlue: #1b262c;
$DarkGrey: #c9c5c4;
$LightGrey: #f5f1f0;
* {
  box-sizing: border-box;
}
body {
  background-color:$LightGrey;
  overflow-x: hidden;
}
.intro {
  position: fixed;
  width: 22%;
  height: 100%;
  background-color: $DarkBlue;
  header {
    .title {
      margin: 30px auto 10px;
      height: 50px;
      width: 100%;
      position: relative;
      border: 2px solid $Blue;

      .front,
      .back {
        position: absolute;
        text-align: center;
        left: 50%;
        margin-left: -100px;
        top: 50%;
        margin-top: -14.5px;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
        h2 {
          font-size: 20px;
        }
      }
      .front {
        color: $LightGrey;
      }
      .back {
        color: $Blue;
        transform: rotatey(180deg);
      }
      &:hover {
        .front {
          transform: rotatey(180deg);
        }
        .back {
          transform: rotatey(360deg);
        }
      }
    }
    .control {
      display: none;
      cursor: pointer;
      width: 47px;
      height: 45px;
      svg {
        fill: $Blue;
      }
    }
  }

  .details {
    margin: 0;
    padding: 0;
    .about{
      transition:all 1s ease-in-out;

     cursor: pointer;
      h2 {
        color: $Blue;
        margin-left: 23px;
      }
      
      p{
        height: 500px;
        color: $LightGrey;
        margin: 0;
        padding: 0 23px;
        font-size: 14.5px;
        overflow: hidden;
        transition:all 1s ease-in-out;
        & + .fa-caret-right{
          transform: rotate(-90deg);
          color: $Blue;
          margin-left: 100px;
          font-size: 35px;
        }
      }
      .hidden_paragraph{
        margin: 0;
        height: 65px;
        transition:all 1s ease-in-out;
        & + .fa-caret-right{
          transform: rotate(90deg);
          color: $Blue;
          margin-left: 100px;
          font-size: 35px;
        }
      }
     
      .media {
        padding: 0px;
        list-style: none;
        display: flex;
        width: 200px;
        margin-left: 24px;
        justify-content: start;
        border-bottom: 1px solid $Blue;
        li {
          margin: 2px;
        }
        .linkedin {
          background-color: black;
          padding: 6px 8px;
          border-radius: 50%;
          i {
            color: $LightGrey;
            font-size: 25px;
          }
        }
        .github {
          i {
            color: black;
            box-shadow: black inset -1px 1px 0px 2px;
            background-color: #f5f1f0;
            font-size: 39px;
            border-radius: 50%;
          }
        }
        .codepen {
          background-color: black;
          padding: 6px;
          border-radius: 50%;
          i {
            font-size: 26px;
            color: $LightGrey;
          }
        }
        .upwork {
          width: 39px;
          svg {
            border-radius: 50%;
          }
        }
      }
    }
    
    h2{
      color: $Blue;
      margin-left: 23px;
    }
    .ul_skills_lists {
      color: $LightGrey; 
      h2 {
        color: $Blue;
        margin-left: -15px;
      }
      .skill {       
        .skill_header{
          cursor: pointer;
          i{
            color: $Blue;
          }
          transform: translateX(-15px);
          h5 {
            margin-left: 15px;
            display: inline-block;
          }
        }
        ul{
          transition: .5s ease-in-out;
          list-style: none;  
          height: 0;
          overflow: hidden;
          li{}
        }
      }
      .skill_active {
        &:first-of-type{
          ul{
            transition: .5s ease-in-out;
            display: block;
            height: 30px;
            li{
            
            }
         }
        }
        .skill_header{ 
          i{    
            transform: rotate(90deg);
          }
          
          h5 {
            
            display: inline-block;
          }
        }
        ul{
           display: block;
           height: 80px;
           width: 250px;
        }
      }
      .rate {
        list-style: none;
        padding: 0;
        .empty {
          height: 15px;
          width: 15px;
          display: inline-block;
          border: 1px solid $Blue;
        }
        .fill {
          height: 15px;
          width: 15px;
          display: inline-block;
          border: 1px solid $Blue;
          background-color: $Blue;
          box-shadow: -1px -1px 2px 0px $DarkBlue inset;
        }
      }
    }
  }
  .active_details {
    display: block;
   transition: .5s ease-in-out;
  }
}
.portfolio {
  width: 78%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  padding: 32px 63px;
  justify-content: space-between;
  background-color: $LightGrey;
  h2 {
    margin-left: 10px;
    width: 170px;
    font-weight: bold;
    color: $DarkBlue;
    border-bottom: 3px solid $DarkBlue;
  }
  .projects{ 
    
    .project{
      a{
        color: $LightGrey;
        text-decoration: none;
      }
      cursor: pointer;
      height: 300px;
      width: calc(99%/3);
      border: 1px solid $Blue;
      border-radius: 10px;
      overflow: hidden;
      display: inline-block;
      background-color: $Blue;
      box-shadow: 6px 7px 16px -9px black;
        &:hover {
          img {
            opacity: 0.6;
            @extend .scale1-1;
          }
        }
        .project-header {
          overflow: hidden;
          height: 78%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
            transition: all 1s ease-in-out;
          }
        }
        color: $LightGrey;
        text-decoration: none;
        font-size: 33px;
        .project-name {
          transition: 0.5s ease-in-out;
          text-align: center;
          background-color: $DarkBlue;
          height: 22%;
          border-top: 1px solid $Blue;
          h3 {
            transition: none;
            height: 100%;
          }
        }
      
    }
  }
}

@media (max-width: 1200px) and (min-width: 993px) {
  .intro {
    overflow: hidden;
    width: 25%;
    .title {
      cursor: pointer;
      margin: 50px auto 20px;
      height: 50px;
      width: 100%;
      position: relative;
      border: 2px solid $Blue;
      .front,
      .back {
        position: absolute;
        text-align: center;
        left: 50%;
        margin-left: -92px;
        top: 50%;
        margin-top: -14.5px;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
        h2 {
          font-size: 20px;
        }
      }
      .front {
        color: $LightGrey;
      }
      .back {
        color: $Blue;
        transform: rotatey(180deg);
      }
      &:hover {
        .front {
          transform: rotatey(180deg);
        }
        .back {
          transform: rotatey(360deg);
        }
      }
    }
    .details {
      .media {
        margin: 0px;
        padding: 0px;
        list-style: none;
        justify-content: center;
        li {
          margin: 5px;
          a {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            i{}
          }
        }
      }
      .ul_skills_lists {
        color: $LightGrey;
        list-style: none;
        h2 {
          color: $Blue;
          margin-left: -15px;
        }
        .skill {
          transform: translateX(-15px);
      
          h5 {
            margin-left: 15px;
            transition: all 0.2s ease-in-out;
          }
        }
        
        .rate {
          list-style: none;
          padding: 0;
          .empty {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid $Blue;
          }
          .fill {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid $Blue;
            background-color: $Blue;
            box-shadow: -1px -1px 2px 0px $DarkBlue inset;
          }
        }
      }
    }
  }
  .portfolio {
    width: 75%;
    float: right;
    padding: 19px 63px;
    background-color: $LightGrey;

    h2 {
      margin-left: 10px;
      width: 170px;
      font-weight: bold;
      color: $DarkBlue;
      border-bottom: 3px solid $DarkBlue;
    }
    .projects {
      .project,
      .pen {
        height: 300px;
        width: 47%;
        margin: 1%;
        border: 1px solid $Blue;
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
        background-color: $Blue;
        box-shadow: 6px 7px 16px -9px black;

        a {
          &:hover {
            img {
              opacity: 0.6;
              transform: scale(1.1);
            }
          }
          .project-header {
            overflow: hidden;
            height: 80%;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
              transition: all 1s ease-in-out;
            }
          }
          color: $LightGrey;
          text-decoration: none;
          font-size: 33px;
          .project-name {
            transition: 0.5s ease-in-out;
            text-align: center;
            background-color: $DarkBlue;
            height: 20%;
            border-top: 1px solid $Blue;
            h3 {
              transition: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 992px) and (min-width: 769px) {
  body {
    display: block;
  }
  .intro {
    width: 100%;
    padding: 0 65px;
    height: 70px;
    z-index: 999;
    
    header {
      display: flex;
      .title {
        margin: 11px 6px;
        width: 70%;
        .front,
        .back {
          position: absolute;
          text-align: center;
          left: 50%;
          margin-left: -92px;
          top: 50%;
          margin-top: -14.5px;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          transition: all 1s ease-in-out;
          h2 {
            font-size: 20px;
          }
        }
        .front {
          color: $LightGrey;
        }
        .back {
          color: $Blue;
          transform: rotatey(180deg);
        }
        &:hover {
          .front {
            transform: rotatey(180deg);
          }
          .back {
            transform: rotatey(360deg);
          }
        }
      }
      .control {
        position: absolute;
        display: block;
        right: 80px;
        top: 13px;
      }
    }

    .details {
      position: absolute;
      left: -300px;
      width: 150px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out;
      .media {
        transform: translateX(-35px);
        li {
          margin: 5px;
          a {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            svg{
              width: 40px;
            }
          }
        }
      }
      .ul_skills_lists {
        color: $LightGrey;
        list-style: none;
        h2 {
          color: $Blue;
          margin-left: -15px;
        }
        .skill {
          transform: translateX(-15px);
          width: 116px;
          h5 {
            margin-left: 15px;
            transition: all 0.2s ease-in-out;
          }
        }

        .rate {
          list-style: none;
          padding: 0;
          .empty {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid $Blue;
          }
          .fill {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid $Blue;
            background-color: $Blue;
            box-shadow: -1px -1px 2px 0px $DarkBlue inset;
          }
        }
      }
    }
    .active_details {
      display: inline-block;
      background-color: $DarkBlue;
      width: 300px;
      position: absolute;
      left: 0px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out;

    }
  }

  .portfolio {
    width: 100%;
    float: right;
    padding: 19px 63px;
    background-color: $LightGrey;
    h2 {
      margin-left: 10px;
      width: 170px;
      font-weight: bold;
      color: $DarkBlue;
      border-bottom: 3px solid $DarkBlue;
    }
    .projects {
      
      .project{
        transition: 0.5s ease-in-out;
        height: 300px;
        width: 47%;
        margin: 1%;
        border: 1px solid $Blue;
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
        background-color: $Blue;
        box-shadow: 6px 7px 16px -9px black;
        a {
          &:hover {
            img {
              opacity: 0.6;
              transform: scale(1.1);
            }
          }
          .project-header {
            overflow: hidden;
            height: 80%;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
              transition: all 1s ease-in-out;
            }
          }
          color: $LightGrey;
          text-decoration: none;
          font-size: 33px;
          .project-name {
            transition: 0.5s ease-in-out;
            text-align: center;
            background-color: $DarkBlue;
            height: 20%;
            border-top: 1px solid $Blue;
            h3 {
              transition: none;
            }
          }
        }
      }
      .click_control{
        height: 325px;
        width: 50%;
        margin: 7px 0 0 43%;
        
      }
    }
  }
}
@media (max-width: 768px) and (min-width: 701px) {
  body {
    display: block;
  }
  .intro {
    width: 100%;
    padding: 0 65px;
    height: 70px;
    z-index: 999;
    
    header {
      display: flex;
      .title {
        margin: 11px 6px;
        width: 70%;
        .front,
        .back {
          position: absolute;
          text-align: center;
          left: 50%;
          margin-left: -92px;
          top: 50%;
          margin-top: -14.5px;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          transition: all 1s ease-in-out;
          h2 {
            font-size: 20px;
          }
        }
        .front {
          color: $LightGrey;
        }
        .back {
          color: $Blue;
          transform: rotatey(180deg);
        }
        &:hover {
          .front {
            transform: rotatey(180deg);
          }
          .back {
            transform: rotatey(360deg);
          }
        }
      }
      .control {
        position: absolute;
        display: block;
        right: 80px;
        top: 13px;
      }
    }

    .details {
      position: absolute;
      left: -300px;
      width: 150px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out;
      .media {
        transform: translateX(-35px);
        li {
          margin: 5px;
          a {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            i{}
            svg{
              width: 40px;
            }
          }
        }
      }
      .ul_skills_lists {
        color: $LightGrey;
        list-style: none;
        h2 {
          color: $Blue;
          margin-left: -15px;
        }
        .skill {
          transform: translateX(-15px);
          width: 116px;
          h5 {
            margin-left: 15px;
            transition: all 0.2s ease-in-out;
          }
        }

        .rate {
          list-style: none;
          padding: 0;
          .empty {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid $Blue;
          }
          .fill {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid $Blue;
            background-color: $Blue;
            box-shadow: -1px -1px 2px 0px $DarkBlue inset;
          }
        }
      }
    }
    .active_details {
      display: inline-block;
      background-color: $DarkBlue;
      width: 300px;
      position: absolute;
      left: 0px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out;

    }
  }

  .portfolio {
    width: 100%;
    float: right;
    padding: 19px 63px;
    background-color: $LightGrey;
    h2 {
      margin-left: 10px;
      width: 170px;
      font-weight: bold;
      color: $DarkBlue;
      border-bottom: 3px solid $DarkBlue;
    }
    .projects {
      
      .project{
        transition: 0.5s ease-in-out;
        height: 300px;
        width: 47%;
        margin: 1%;
        border: 1px solid $Blue;
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
        background-color: $Blue;
        box-shadow: 6px 7px 16px -9px black;
        a {
          &:hover {
            img {
              opacity: 0.6;
              transform: scale(1.1);
            }
          }
          .project-header {
            overflow: hidden;
            height: 80%;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
              transition: all 1s ease-in-out;
            }
          }
          color: $LightGrey;
          text-decoration: none;
          font-size: 33px;
          .project-name {
            transition: 0.5s ease-in-out;
            text-align: center;
            background-color: $DarkBlue;
            height: 20%;
            border-top: 1px solid $Blue;
            h3 {
              transition: none;
            }
          }
        }
      }
      .click_control{
        height: 330px;
        width: 57%;
        margin: 7px 0 0 47.5%;
      }
    }
  }
}
@media (max-width: 700px) {
  .intro {
    width: 100%;
    padding: 0 65px;
    height: 70px;
    z-index: 999;
    
    header {
      display: flex;
      .title {
        margin: 11px 6px;
        width: 70%;
        .front,
        .back {
          position: absolute;
          text-align: center;
          left: 50%;
          margin-left: -92px;
          top: 50%;
          margin-top: -14.5px;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          transition: all 1s ease-in-out;
          h2 {
            font-size: 20px;
          }
        }
        .front {
          color: $LightGrey;
        }
        .back {
          color: $Blue;
          transform: rotatey(180deg);
        }
        &:hover {
          .front {
            transform: rotatey(180deg);
          }
          .back {
            transform: rotatey(360deg);
          }
        }
      }
      .control {
        position: absolute;
        display: block;
        right: 80px;
        top: 13px;
      }
    }

    .details {
      position: absolute;
      left: -300px;
      width: 150px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out;
      .media {
       // transform: translateX(-35px);
        li {
          margin: 5px;
          width: 37px;
          height: 37px;
          a {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            i{font-size: 20px; }
            svg{
              width: 37px;
            }
          }
        }
       
      }
      .ul_skills_lists {
        color: $LightGrey;
        list-style: none;
        h2 {
          color: $Blue;
          margin-left: -15px;
          font-size: 25px;
        }
        .skill {
          transform: translateX(-15px);
          width: 116px;
          h5 {
            margin-left: 15px;
            transition: all 0.2s ease-in-out;
          }
        }

        .rate {
          list-style: none;
          padding: 0;
          .empty {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid $Blue;
          }
          .fill {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 1px solid $Blue;
            background-color: $Blue;
            box-shadow: -1px -1px 2px 0px $DarkBlue inset;
          }
        }
      }
    }
    .active_details {
      display: inline-block;
      background-color: $DarkBlue;
      width: 200px;
      position: absolute;
      left: 0px;
      top: 70px;
      height: 700px;
      transition: 0.5s ease-in-out;

    }
  }

  .portfolio {
    width: 100%;
    float: right;
    padding: 19px 63px;
    background-color: $LightGrey;
    h2 {
      margin-left: 10px;
      width: 170px;
      font-weight: bold;
      color: $DarkBlue;
      border-bottom: 3px solid $DarkBlue;
    }
    .projects {
      
      .project{
        transition: 0.5s ease-in-out;
        height: 325px;
        width: 90%;
        margin: 5% 0 0px 4%;
        a {
          &:hover {
            img {
              opacity: 0.6;
              transform: scale(1.1);
            }
          }
          .project-header {
            overflow: hidden;
            height: 80%;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
              transition: all 1s ease-in-out;
            }
          }
          color: $LightGrey;
          text-decoration: none;
          font-size: 33px;
          .project-name {
            transition: 0.5s ease-in-out;
            text-align: center;
            background-color: $DarkBlue;
            height: 20%;
            border-top: 1px solid $Blue;
            h3 {
              transition: none;
              font-size: 74%;
            }
          }
        }
      }
      .click_control{
        height: 330px;
        width: 57%;
        margin: 7px 0 0 43%;
      }
    }
  }
}
@media (max-width: 600px){
  .portfolio {
    width: 100%;
    float: right;
    padding: 19px 63px;
    background-color: $LightGrey;
    h2 {
      margin-left: 10px;
      width: 170px;
      font-weight: bold;
      color: $DarkBlue;
      border-bottom: 3px solid $DarkBlue;
    }
    .projects {
      
      .project{
        transition: 0.5s ease-in-out;
        height: 325px;
        width: 90%;
        margin: 5% 0 0px 4%;
        a {
          &:hover {
            img {
              opacity: 0.6;
              transform: scale(1.1);
            }
          }
          .project-header {
            overflow: hidden;
            height: 80%;
            width: 100%;
            img {
              height: 100%;
              width: 100%;
              transition: all 1s ease-in-out;
            }
          }
          color: $LightGrey;
          text-decoration: none;
          font-size: 33px;
          .project-name {
            transition: 0.5s ease-in-out;
            text-align: center;
            background-color: $DarkBlue;
            height: 20%;
            border-top: 1px solid $Blue;
            h3 {
              transition: none;
              font-size: 74%;
            }
          }
        }
      }
      .click_control{
        height: 330px;
        width: 65%;
        margin: 7px 0 0 43%;
      }
    }
  }
}
.scale1-1 {
  transform: scale(1.1);
}
.transition-0-5s {
  transition: 0.5s ease-in-out;
}
